# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
platforms/
# platforms/android/CordovaLib/build/
# platforms/android/app/.externalNativeBuild/
# platforms/android/app/build/
# platforms/android/app/src/main/assets/www/build/
# platforms/android/build/
# platforms/android/gradle/
# platforms/android/gradlew
# platforms/android/gradlew.bat
# plugins/
# plugins/android.json
# plugins/ios.json
www/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate

/docker/data
.idea
.vscode

/EPK/*/www/build/
/EPK/*/www/assets/
E2E.epk
