<ion-header>
  <ion-navbar>    
    <ion-buttons start>
      <!-- <button (click)="goBack()" ion-button clear icon-only style="">    
        <ion-icon name="arrow-dropleft"></ion-icon>    
      </button>       -->
    </ion-buttons>  
    <ion-title>Wallet Detail</ion-title>
  </ion-navbar>    
</ion-header>

<ion-content class="app-page">
  <h4>Balance : {{balance}}</h4>
  <ion-list>
    <!-- <button ion-item *ngFor="let item of address_list" (click)="goDetailPage(item)">
      {{item}}
    </button> -->
    <ion-item *ngFor="let item of address_list">
      <ion-note>{{item.address}}</ion-note>
      <ion-note item-end>{{item.balance}}</ion-note>
    </ion-item>
  </ion-list>
  
  
  
  
</ion-content>